@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  transition: 150ms ease;
}

body {
  background-color: var(--bgc-clr);
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  height: 100dvh;
}

:root {
  --bgc-clr: #ffffff;
}

/* Button Styling */
#toggleButton {
  background-color: red;
  width: 110px;
  border-radius: 100px;
  height: 50px;
  position: relative;
  cursor: pointer;
}

#ball {
  aspect-ratio: 1/1;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  left: 0;

  &.moon {
  }
}

/* Theme Clrs */
body.dark {
  --bgc-clr: rgb(17, 23, 46);
}
